@import '../fonts.scss';

.sect_one{
    width: 100%;
    height: 200px;
    background-image: url(./img/background.png);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .con{
        width: 1208px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        .image{
            height: 200px;
        }
        .text{
            width: 751px;
            @include RubikHeaderL;
            color: #414141;
        }
    }
}
.main{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #FBF8EC;
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
    .sect_two{
        width: 1208px;
        height: 443px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        margin-bottom: 120px;
        .top{
            width: 1208px;
            height: 54px;
            display: flex;
            justify-content: space-between;
            align-items: end;
            .title{
                height: 54px;
                @include RubikHeaderM;
                color: #414141;
            }
            .link{
                height: 40px;
                width: 168px;
                padding: 8px;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    display: flex;
                    text-decoration: none;
                    cursor: pointer;
                }
                p{
                    width: 120px;
                    height: 24px;
                    @include RubikS;
                    text-align: center;
                    color: #606060;
                }
                a:hover p{
                    text-decoration: underline;
                }
            }
        }
        .bot{
            width: 1208px;
            height: 349px;
            display: flex;
            justify-content: space-between;
            align-items: start;
        }
    }
    .sect_three{
        width: 1208px;
        height: 504px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        margin-bottom: 120px;
        .title{
            @include RubikHeaderM;
            color:#414141;
        }
        .maps{
            width: 1208px;
            height: 410px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: column;
            .choice{
                width: 439px;
                height: 32px;
                display: flex;
                justify-content: space-between;
                button{
                    background-color: #F3F2F1;
                    border: none;
                    border-radius: 4px;
                    @include RubikXS;
                    cursor: pointer;
                    &:hover{
                        background-color: #70C05B;
                        color: white;
                    }
                }
                button:nth-of-type(1){
                    width: 97px;
                }
                button:nth-of-type(2){
                    width: 86px;
                }
                button:nth-of-type(3){
                    width: 104px;
                }
                button:nth-of-type(4){
                    width: 80px;
                }
                button.active{
                    background-color: #70C05B;
                    color: white;
                }
            }
            .map{
                width: 1208px;
                height: 354px;
                background-color: #BFBFBF;
                border-radius: 4px;
            }
        }
    }
    .sect_four{
        width: 1208px;
        height: 294px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        margin-bottom: 120px;
        .title{
            @include RubikHeaderM;
            color:#414141;
        }
        .special{
            width: 1208px;
            height: 200px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            .special_one{
                width: 584px;
                height: 200px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                box-sizing: border-box;
                background-image: url(./img/loyaltyCard.png);
                background-repeat: no-repeat;
                background-position: 100%;
                background-color: #FCD5BA;
                border-radius: 4px;
                transition: 0.3s all ease;
                color: #414141;
                &:hover{
                    box-shadow: 0px 8px 16px 0px rgb(202, 147, 96, 0.2);
                }
                .con{
                    width: 258px;
                    height: 126px;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    flex-direction: column;
                    margin-top: 30px;
                    margin-left: 40px;
                    p:nth-of-type(1){
                        @include RubikHeaderS;
                    }
                    p:nth-of-type(2){
                        @include RubikS;
                    }
                }
            }
            .special_two{
                width: 584px;
                height: 200px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                box-sizing: border-box;
                background-image: url(./img/plusesAndCur.png);
                background-repeat: no-repeat;
                background-position: 100% 100%;
                background-color: #E5FFDE;
                border-radius: 4px;
                transition: 0.3s all ease;
                color: #414141;
                &:hover{
                    box-shadow: 0px 8px 16px 0px rgb(112, 192, 91, 0.2);
                }
                .con{
                    width: 258px;
                    height: 126px;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    flex-direction: column;
                    margin-top: 30px;
                    margin-left: 40px;
                    p:nth-of-type(1){
                        @include RubikHeaderS;
                    }
                    p:nth-of-type(2){
                        @include RubikS;
                    }
                }
            }
        }
    }
    .sect_five{
        width: 1208px;
        height: 514px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        .top{
            width: 1208px;
            height: 54px;
            display: flex;
            justify-content: space-between;
            align-items: end;
            .title{
                height: 54px;
                @include RubikHeaderM;
                color: #414141;
            }
            .link{
                height: 40px;
                width: 168px;
                padding: 8px;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    display: flex;
                    text-decoration: none;
                    cursor: pointer;
                }
                p{
                    width: 120px;
                    height: 24px;
                    @include RubikS;
                    text-align: center;
                    color: #606060;
                }
                a:hover p{
                    text-decoration: underline;
                }
            }
        }
        .bot{
            width: 1208px;
            height: 420px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            border-radius: 4px;
            
        }
    }
}

