@import '../fonts.scss';

.main{
    width: 100%;
    height: 2760px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: #FBF8EC;
    .title_of_page{
        width: 1208px;
        height: 24px;
        display: flex;
        align-items: center;
        margin-top: 24px;
        *{
            margin-right: 16px;
        }
        a{
            text-decoration: none;
            color: #414141;
            @include RubikXS;
        }
        a:last-child{
            color: #8F8F8F;
        }
    }
    .sect_one{
        width: 1208px;
        height: 596px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 24px;
        .name{
            color: #414141;
            @include RubikHeaderS;
        }
        .middle{
            height: 32px;
            display: flex;
            align-items: center;
            .id{
                @include RubikXS;
                color: #414141;
                margin-right: 24px;
            }
            .rating{
                height: 32px;
                display: flex;
                align-items: center;
                margin-right: 32px;
                .stars{
                    height: 32px;
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 4px;
                    }
                }
                .text{
                    font-size: 14px;
                    font-family: Roboto;
                    text-decoration: underline;
                    color: #414141;
                    margin-left: 4px;
                }
            }
            .share{
                height: 32px;
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-right: 32px;
                img{
                    margin-right: 8px;
                }
                p{
                    @include RubikXS;
                    color: #606060;
                    padding-left: 8px;
                }
            }
            .favorite{
                height: 32px;
                display: flex;
                align-items: center;
                cursor: pointer;
                img{
                    margin-right: 8px;
                }
                p{
                    @include RubikXS;
                    color: #606060;
                    padding-left: 8px;
                }
            }
        }
        .bottom{
            width: 1208px;
            height: 496px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            .left{
                width: 584px;
                height: 496px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                .row_of_images{
                    width: 64px;
                    height: 496px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    >div{
                        width: 64px;
                        height: 86.4px;
                        background-color: white;
                        border-radius: 4px;
                        box-shadow: 1px 2px 4px 0px rgb(0, 0, 0, 0.1);
                        cursor: pointer;
                    }
                }
                .main_image{
                    width: 504px;
                    height: 496px;
                    display: flex;
                    justify-content: end;
                    align-items: start;
                    border-radius: 4px;
                    box-shadow: 1px 2px 4px 0px rgb(0, 0, 0, 0.1);
                    background-color: white;
                    p{
                        width: 56px;
                        height: 32px;
                        color: white;
                        @include RubikS;
                        background-color: #FF6633;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 4px;
                        margin: 20px;
                    }
                }
            }
            .center{
                width: 376px;
                height: 496px;
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: column;
                .pricing{
                    width: 376px;
                    height: 232px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    margin-bottom: 24px;
                    .prices{
                        width: 376px;
                        height: 76px;
                        display: flex;
                        justify-content: space-between;
                        align-items: end;
                        .regular{
                            height: 60px;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            p:nth-of-type(1){
                                @include RubikL;
                                color: #606060;
                            }
                            p:nth-of-type(2){
                                @include RubikXS;
                                color: #BFBFBF;
                            }
                        }
                        .card{
                            height: 76px;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            p:nth-of-type(1){
                                @include RubikHeaderM;
                                color: #414141;
                                line-height: 52px;
                            }
                            p:nth-of-type(2){
                                @include RubikXS;
                                color: #BFBFBF;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                img{
                                    margin-left: 8px;
                                    cursor: pointer;
                                    border-radius: 24px;
                                }
                            }
                        }
                    }
                    .into_cart{
                        width: 376px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        button{
                            width: 100%;
                            height: 100%;
                            padding-left: 16px;
                            padding-right: 16px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background-color: #FF6633;
                            border: none;
                            border-radius: 4px;
                            cursor: pointer;
                            p{
                                width: 304px;
                                height: 28px;
                                @include RubikL;
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                    .bonuses{
                        width: 212px;
                        height: 32px;
                        padding-left: 8px;
                        padding-right: 8px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p{
                            @include RubikXS;
                            color: #70C05B;
                            width: 164px;
                            text-align: center;
                            span{
                                @include RobotoBoldXS
                            }
                        }
                    }
                    .notify{
                        width: 248px;
                        height: 32px;
                        padding-left: 8px;
                        padding-right: 8px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        p{
                            @include RubikXS;
                            color: #414141;
                            width: 200px;
                            text-align: center;
                        }
                    }
                }
                .info{
                    width: 376px;
                    height: 86px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    .line{
                        width: 376px;
                        height: 26px;
                        background-color: #F3F2F1;
                        display: flex;
                        p:nth-of-type(1){
                            width: 50%;
                            @include RubikXS;
                            color: #414141;
                            display: flex;
                            align-items: center;
                            padding-left: 8px;
                        }
                        p:nth-of-type(2){
                            @include RobotoBoldXS;
                            color: #414141;
                            display: flex;
                            align-items: center;
                        }
                        &:nth-of-type(2){
                            background: none;
                        }
                    }
                }
            }
            .right{
                width: 168px;
                height: 496px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                .text{
                    @include RubikS;
                    color: #606060;
                }
                .simular_items{
                    width: 168px;
                    height: 464px;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    flex-direction: column;
                    .item{
                        width: 168px;
                        height: 104px;
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        flex-direction: column;
                        background-color: white;
                        border-radius: 4px;
                        box-shadow: 1px 2px 4px 0px rgb(0, 0, 0, 0.1);
                        >div{
                            width: 168px;
                            height: 57px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        p{
                            width: 168px;
                            height: 57px;
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            @include RubikBoldM;
                            color: #414141;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }
    .sect_two{
        margin-top: 120px;
        width: 1208px;
        height: 443px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        .title{
            @include RubikHeaderM;
            color: #414141;
        }
        .line{
            width: 1208px;
            height: 349px;
            display: flex;
            justify-content: space-between;
            align-items: start;
        }
    }
    .sect_three{
        width: 1208px;
        height: 766px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        margin-top: 120px;
        .title{
            @include RubikHeaderM;
            color: #414141;
        }
        .review_sect{
            width: 1208px;
            height: 428px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            .rating{
                width: 168px;
                height: 208px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                .top{
                    width: 166px;
                    height: 32px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 0px;
                    .stars{
                        width: 96px;
                        height: 16px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-right: 0px;
                        
                    }
                    p{
                        @include RubikBoldM;
                        color: #414141;
                    }
                }
                .ratings{
                    width: 168px;
                    height: 160px;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    flex-direction: column;
                    .stars{
                        width: 160px;
                        height: 32px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        div{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        p{
                            @include RubikS;
                            color: #414141;
                        }
                    }
                }
            }
            .reviews{
                width: 896px;
                display: flex;
                align-items: start;
                flex-direction: column;
            }
        }
        .leave_review{
            width: 1000px;
            height: 204px;
            padding-left: 312px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: column;
            .text_and_rating{
                width: 688px;
                height: 32px;
                display: flex;
                align-items: center;
                .text{
                    @include RubikBoldM;
                    color: #414141;
                    margin-right: 16px;
                }
                .rating{
                    width: 136px;
                    height: 24px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img{
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                    }
                }
            }
            .review_input{
                width: 688px;
                height: 100px;
                textarea{
                    width: 688px;
                    height: 100px;
                    padding: 8px;
                    padding-left: 16px;
                    padding-right: 16px;
                    box-sizing: border-box;
                    @include RubikS;
                    color: #414141;
                }
            }
            .review_submit{
                    width: 188px;
                    height: 40px;
                button{
                    width: 188px;
                    height: 40px;
                    background-color: #FCD5BA;
                    border-radius: 4px;
                    border: none;
                    @include RubikS;
                    cursor: pointer;
                    color: #FF6633;
                    &:hover{
                        background-color: #FF6633;
                        color: white;
                    }
                }
            }
        }
    }
    .sect_four{
        width: 1208px;
        height: 443px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        margin-top: 120px;
        .top{
            width: 1208px;
            height: 54px;
            display: flex;
            justify-content: space-between;
            align-items: end;
            margin-top: 0px;
            .title{
                height: 54px;
                @include RubikHeaderM;
                color: #414141;
            }
            .link{
                height: 40px;
                width: 168px;
                padding: 8px;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    display: flex;
                    text-decoration: none;
                    cursor: pointer;
                }
                p{
                    width: 120px;
                    height: 24px;
                    @include RubikS;
                    text-align: center;
                    color: #606060;
                }
                a:hover p{
                    text-decoration: underline;
                }
            }
        }
        .bot{
            width: 1208px;
            height: 349px;
            display: flex;
            justify-content: space-between;
            align-items: start;
        }
    }
}