@import '../fonts.scss';

.main{
    width: 100%;
    height: 797px;
    background-color: #FBF8EC;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 24px;
    box-sizing: border-box;
    .section{
        width: 1208px;
        height: 674px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        .top{
            width: 148px;
            height: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include RubikXS;
            a{
                text-decoration: none;
                color: #414141;
            }
            a:nth-of-type(2){
                opacity: 0.5;
            }
        }
        .bot{
            width: 1208px;
            height: 626px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: column;
            .title{
                width: 326px;
                height: 96px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                >p{
                    @include RubikHeaderXL;
                    color: #414141;
                }
                >div{
                    width: 26px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FF6633;
                    border-radius: 4px;
                    >p{
                        @include RubikS;
                        color: white;
                    }
                }
            }
            .general{
                width: 1208px;
                height: 470px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                .items{
                    width: 896px;
                    height: 434px;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    flex-direction: column;
                    .select{
                        width: 304px;
                        height: 32px;
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        .select_all{
                            width: 130px;
                            height: 32px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding-left: 8px;
                            padding-right: 8px;
                            box-sizing: border-box;
                            button{
                                width: 24px;
                                height: 24px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: #8F8F8F;
                                border: 1px solid #F3F2F1;
                                border-radius: 4px;
                                box-sizing: border-box;
                                cursor: pointer;
                            }
                            p{
                                @include RubikXS;
                                color: #606060;
                            }
                        }
                        .delete{
                            width: 134px;
                            height: 32px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #FF6633;
                            @include RubikXS;
                            p{
                                cursor: pointer;
                            }
                        }
                    }
                    .list{
                        width: 876px;
                        height: 378px;
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        flex-direction: column;
                        .cart_item{
                            width: 876px;
                            height: 90px;
                            display: flex;
                            justify-content: space-between;
                            align-items: start;
                            background-color: white;
                            border-radius: 4px;
                            box-shadow: 1px 2px 4px 0px rgb(0, 0, 0, 0.1);
                            .info{
                                width: 624px;
                                height: 90px;
                                display: flex;
                                justify-content: space-between;
                                align-items: start;
                                .image{
                                    width: 80px;
                                    height: 60px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    .selector{
                                        position: absolute;
                                        width: 24px;
                                        height: 24px;
                                        background-color: #8F8F8F;
                                        border: 1px solid #F3F2F1;
                                        border-radius: 4px;
                                        transform: translate(-20px, -25px);
                                        cursor: pointer;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        &.active{
                                            background-color: #70C05B;
                                        }
                                    }
                                    .item_image{
                                        width: 80px;
                                        height: 60px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        background-color: white;
                                        border-radius: 4px;
                                        box-shadow: 1px 2px 4px 0px rgb(0, 0, 0, 0.1);
                                    }
                                }
                                .text{
                                    width: 536px;
                                    height: 90px;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                    box-sizing: border-box;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: start;
                                    flex-direction: column;
                                    >p{
                                        @include RubikS;
                                        color: #414141;
                                    }
                                    .prices{
                                        width: 215px;
                                        height: 36px;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: start;
                                        .card_price{
                                            width: 52px;
                                            height: 36px;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: start;
                                            flex-direction: column;
                                            p:nth-of-type(1){
                                                @include RobotoBoldXS;
                                                color: #414141;
                                            }
                                            p:nth-of-type(2){
                                                @include RubikXS;
                                                color: #BFBFBF;
                                            }
                                        }
                                        .regular_price{
                                            width: 51px;
                                            height: 36px;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: end;
                                            flex-direction: column;
                                            p:nth-of-type(1){
                                                @include RubikXS;
                                                color: #414141;
                                            }
                                            p:nth-of-type(2){
                                                @include RubikXS;
                                                color: #BFBFBF;
                                            }
                                        }
                                        .per_item{
                                            width: 35px;
                                            height: 18px;
                                            @include RubikXS;
                                        }
                                        .discount{
                                            width: 53px;
                                            height: 32px;
                                            border-radius: 4px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            @include RubikS;
                                            color: white;
                                            background-color: #FF6633;
                                            @include RubikS;
                                        }
                                    }
                                }
                            }
                            .price_and_amount{
                                width: 236px;
                                height: 67px;
                                display: flex;
                                justify-content: space-between;
                                align-items: start;
                                .amount{
                                    width: 100px;
                                    height: 60px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    >div{
                                        width: 100px;
                                        height: 40px;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        background-color: #70C05B;
                                        border-radius: 4px;
                                        padding: 8px;
                                        box-sizing: border-box;
                                        color: white;
                                        @include RubikS;
                                        button{
                                            width: 24px;
                                            height: 24px;
                                            border: none;
                                            background: none;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                .price{
                                    width: 120px;
                                    height: 67px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: end;
                                    flex-direction: column;
                                    padding: 8px;
                                    box-sizing: border-box;
                                    p:nth-of-type(1){
                                        @include RubikBoldM;
                                        color: #414141;
                                    }
                                    p:nth-of-type(2).active{
                                        font-family: Roboto;
                                        font-size: 16px;
                                        line-height: 24px;
                                        color: #8F8F8F;
                                        text-decoration: line-through;
                                        font-weight: 400;
                                    }
                                    p:nth-of-type(2){
                                        @include RubikBoldM;
                                        color: #414141;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
                .payment{
                    width: 272px;
                    height: 470px;
                    padding-top: 52px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    flex-direction: column;
                    .withdraw{
                        width: 272px;
                        height: 68px;
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        flex-direction: column;
                        .switch{
                            width: 168px;
                            height: 24px;
                            display: flex;
                            justify-content: space-between;
                            align-items: start;
                            .body{
                                width: 46px;
                                height: 24px;
                                display: flex;
                                padding: 2px;
                                box-sizing: border-box;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50px;
                                background-color: #70C05B;
                                transition: .3s all ease;
                                >div{
                                    width: 20px;
                                    height: 20px;
                                    background-color: white;
                                    border: 0.5px solid rgb(0, 0, 0, 0.04);
                                    border-radius: 20px;
                                    position: relative;
                                    transform: translate(11px);
                                    box-sizing: border-box;
                                    box-shadow: 0px 2px 6px 0px rgb(0, 0, 0, 0.15), 0px 1px 1px 0px rgb(0, 0, 0, 0.08);
                                    transition: .3s all ease
                                }
                            }
                            .text{
                                @include RubikS;
                                color: #414141;
                            }
                        }
                        .card_fund{
                            @include RubikS;
                            color: #8F8F8F;
                        }
                    }
                    .line{
                        width: 272px;
                        height: 2px;
                        background-color: #F3F2F1;

                    }
                    .price_math{
                        width: 272px;
                        height: 58px;
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        flex-direction: column;
                        div{
                            width: 272px;
                            height: 24px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            p:nth-of-type(1){
                                @include RubikS;
                                color: #8F8F8F;
                            }
                            p:nth-of-type(2){
                                @include RubikS;
                                color: #414141;
                            }
                        }
                        div:nth-of-type(2){
                            p:nth-of-type(2){
                                @include RubikBoldS;
                                color: #FF6633;
                            }
                        }
                    }
                    .total{
                        width: 272px;
                        height: 68px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: column;
                        .total_price{
                            width: 272px;
                            height: 36px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            p:nth-of-type(1){
                                @include RubikS;
                                color: #414141;
                            }
                            p:nth-of-type(2){
                                @include RubikBoldL;
                                color: #414141;
                            }
                        }
                        .bonuses{
                            width: 201px;
                            height: 32px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            p{
                                @include RubikXS;
                                color: #70C05B;
                                span{
                                    @include RobotoBoldXS;
                                }
                            }
                        }
                    }
                    .submit{
                        width: 272px;
                        height: 100px;
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        flex-direction: column;
                        .warning{
                            width: 215px;
                            height: 24px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #D80000;
                            border-radius: 4px;
                            @include RubikXS;
                            color: white;
                        }
                        button{
                            width: 272px;
                            height: 60px;
                            background-color: #FCD5BA;
                            color: #FF6633;
                            border: none;
                            border-radius: 4px;
                            @include RubikL;
                            &:hover.active{
                                background-color: #FF6633;
                                color: white;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}