@import '../../fonts.scss';

.review{
    width: 688px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 40px;
    .writer_info{
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        img{
            width: 36px;
            height: 36px;
            border-radius: 36px;
        }
        p{
            margin-left: 12px;
            @include RubikM;
            color: #414141;
        }
    }
    .stars_and_date{
        height: 16px;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        .stars{
            width: 96px;
            height: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .date{
            margin-left: 16px;
            @include RubikXS;
            color: #8F8F8F;
        }
    }
    .text{
        @include RubikS;
        color: #414141;
    }
}